
.difWeather {
    width: 100%;
}

.alignBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBox {
    position: absolute;
    width: 25%;
    border: solid 1px brown;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(222, 184, 135, 0.9);
    padding-top: 1%;
    padding-bottom: 1%;
}

.heading {
    font-weight: 500;
    font-size: 2vw;
}

.nameText {
    font-size: 1.5vw;
    margin-bottom: 2%; 
}

.inputField {
    display: block;
    font-size: 1vw;
    width: 55%;
    margin: 3% auto 10%;
}

.subButton {
    font-size: 1.2vw;
    text-decoration: none;
    border: solid 1px brown;
    border-radius: 8px;
    padding: 1% 5%; 
    background-color: #119542;
    color: #FFF;
}